{% extends 'Products/base.html' %}

{{title}}


{% block content %}
<div class="account-info">
{% if orders %}
    {% for ord in orders %}
      {% for it in ord.items.all %}
      <ul>
        <li>
          <h2>{{it.product}}</h2>
            {% for i in it.data_of_acc.split %}
            {% if forloop.counter0 == 0 %}
            <p>Логин: <span class="account-login">{{i}}</span></p>
            {% else %}
            <p>Пароль: <span class="account-password">{{i}}</span></p>
            {% endif %}
            {% endfor %}
        </li>
      </ul>
      {% endfor %}
    {% endfor %}
  </div>
{% else %}
<h2>На жаль, в тебе поки нема куплених акаунтів</h2>
{% endif %}
{% endblock content %}