{% extends 'Products/base.html' %}
{% load products_tag %}
{% load static %}

{% block content %}

  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if product.sale %}
                    <div class="badge bg-dark text-white ти position-absolute" style="top: 0.5rem; right: 0.5rem">Знижка</div>
                    {% endif %}
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.photo.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product price-->
                            {% if product.sale %}
                            <span class="text-muted text-decoration-line-through">{{product.price}}</span>
                            {{product|go_sale}}
                            {% else %}
                            {{product.price}}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if request.user.is_authenticated %}
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'products:product' product.slug %}">Детальніше</a></div>
                        {% else %}
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'products:login' %}">Детальніше</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

                </div>
            </div>
        </section>

        {% endblock content %}

 